/*.column-1{
background-color: #C0392B;
}
.column-2{
background-color: #566573;
}
.column-3{
background-color: #AF7AC5;
}
.column-4{
background-color: #DC7633;
}
.column-5{
background-color: #F4D03F;
}
.column-6{
background-color: #6C3483;
}
.column-7{
background-color: #0E6655;
}
.column-8{
background-color: #5B8E45;

}
.column-9{
background-color: #6C3483;
}
.column-10{
background-color: #ffff00;
}
.column-11{
background-color: #0080ff;
}
.column-12{
background-color: #ff0000;
}*/

/*<!-- TITLE BAR STARTS HERE -->*/

body{
	background-color: #F2F5F4;
	height: 8000px;
}
.title-bar{
	height: 40px;
	background-color: #5B8E45;
}
.col-1{
height: 40px;
padding-top: 5px;
}
.column-8 img{
	height: 26px;
	padding-right: 20px;
	padding-top: 10px;
}
/*<!-- MAIN MENU BAR STARTS HERE -->*/
.main-menu-bar{
		
}
.brand-img{
	margin-left: 30%;
}

/*<!-- MAIN MENU BAR ENDS HERE -->*/
.jumbo-row{
	height: 725px;
	/*border: 1px solid black;1*/
}
.hero-banner{
	background-image: url('img/all-circle-tree-full-width.png');
	background-size: 95%;
	margin-top: 2%;
	background-repeat: no-repeat;	
	background-color: #F2F5F4;		
}
.bg-img{	
	background-image: url('img/all-circle-tree.png');
	background-repeat: no-repeat;
	width: auto;
	height: 50%;
	margin-left: 10%;
}
.lead{
	font-size: 32px;
	margin-left: 13%;
	margin-top: 0%;
}
.display-4{
	font-family: Playfair Display;
	font-weight: bold;
	font-size: 140px;
	color: #5B8E45;
	margin-top: -8%;
	margin-left: 5%;
}
.banner-pine-text{
	width: 300px;
	height: auto;
}
.pine-juniper-img{
	background-repeat: no-repeat;
	background-color: #5B8E45;
	border-radius: 70px;
	background-size: 100%;
	margin-top: 0%;
	margin-left: 25%;
	height: 65px;
	width: 65px;
}
.pine-juniper-title{
	font-family: Playfair Display;
	font-weight: bold;
	font-size: 24px;
	color: black;
	margin-top: -15%;
}

.description-banner{
	width: 284px;
}
.shop-now-box{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 18px;
	color: #CC5420;

	position: absolute;
	width: 214px;
	height: 50px;
	background: #F2F5F4;
	border: 1px solid #CC5420;
	box-sizing: border-box;
	box-shadow: 0px 10px 15px rgba(204, 84, 32, 0.2);
	padding-top: 15px;
	padding-left: 70px;
}
.prod-disp-banner{
	padding-top: 10px;
	padding-left: 25px;
	position: absolute;
	height: 180px;
	width: 92vw;
}
.prod-banner-1{
	background: rgba(242, 245, 244, 0.6);
	box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.05);
	width: 140px;
	height: 170px;
}
.prod-img-1{
	width: 100px;
	height: 140px;
	margin-left: 15%;
}
.prod-title-1{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	text-align: center;

	color: #181818;
	margin-left: 30%;
}

.prod-banner-2{
	background: rgba(242, 245, 244, 0.6);
	box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.05);
	width: 140px;
	height: 170px;
}
.prod-img-2{
	width: 100px;
	height: 140px;
	margin-left: 15%;
}
.prod-title-2{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	text-align: center;

	color: #181818;
	margin-left: 30%;
}

.prod-banner-3{
	background: rgba(242, 245, 244, 0.6);
	box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.05);
	width: 140px;
	height: 170px;
}
.prod-img-3{
	width: 100px;
	height: 140px;
	margin-left: 15%;
}
.prod-title-3{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	text-align: center;

	color: #181818;
	margin-left: 30%;
}

.for-margin{
	margin-bottom: 5%;
}
/*INFO ABOUT STARTS HERE*/
.try-box{
	border: 1px solid black;
	height: 200px;
	/*width: 100px;*/
}
.trust-badge{
	width: 95vw;
	margin-left: 1%;
}
.free-del-img{
	width: 70px;
	height: 70px;
	margin-left: 3%;
	margin-top: 2%;
}
.qual-prod{
	width: 70px;
	height: 70px;
	margin-left: 4%;
	margin-top: 2%;	
}
.sec-pmnt-img{
	width: 70px;
	height: 70px;
	margin-left: 15%;
	margin-top: 2%;	
}
.card{
	background-color: rgba(255, 255, 255, 0.4);
	border: none;
}
.col-sm-3{
	justify-content: center;
}

/*about-stuff starts here*/
.about-stuf-row{
	height: 579px;
	width: 95vw;
	margin-left: 1%;
	border: 1px solid black;
}

.about-1998{
	background-image: url("img/1998.png");
	background-repeat: no-repeat;
	background-position: 100% 10%; 
	background-size: 350px;
	height: 475px;
	width: 475px;
	left: 250px;
	margin-top: 5%;
	margin-left: 20%;
	opacity: 1;
}
.about-stuf-row{
	border: 1px solid red;	
}